body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .container {
    text-align: center;
    position: relative;
  }
  .logo {
    margin-bottom: 20px;
  }
  .logo img {
    width: 150px;
  }
  .input-container {
    margin-bottom: 15px;
    position: relative;
  }
  .input-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #e0d7d7;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f1e7;
  }
  .input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .login-button {
    background-color: #A5B68D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  .footer {
    background-color: #C1CFA1;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
  .footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .back-icon,
  .profile-icon {
    position: absolute;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .back-icon {
    left: 20px;
  }
  .profile-icon {
    right: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .container {
    text-align: center;
    position: relative;
    width: 300px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .logo img {
    width: 150px;
  }
  .form-group {
    margin-bottom: 20px; /* Menambahkan jarak antar elemen */
  }
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0d7d7;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f1e7;
  }
  .input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .login-button {
    background-color: #a5b68d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px; /* Jarak lebih besar antara tombol dan input terakhir */
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f3e7;
  }
  .footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .back-icon,
  .profile-icon {
    position: absolute;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .back-icon {
    left: 20px;
  }
  .profile-icon {
    right: 20px;
  }
